In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder
import pickle

In [2]:
data=pd.read_csv('Churn_Modelling.csv')
data.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [5]:
## Preprocess the data
data=data.drop(['RowNumber','CustomerId','Surname'],axis=1)

In [6]:
## Encoded categorical variables
label_encoder_gender=LabelEncoder()
data['Gender']=label_encoder_gender.fit_transform(data['Gender'])

In [8]:
## One-hot encode 'Geography'
onehot_encoder_geo=OneHotEncoder(handle_unknown='error')
geo_encoded=onehot_encoder_geo.fit_transform(data[['Geography']]).toarray()
geo_encoded_df=pd.DataFrame(geo_encoded, columns=onehot_encoder_geo.get_feature_names_out(['Geography']))
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [9]:
## Combine one-hot encoded columns with original data
data=pd.concat([data.drop('Geography',axis=1),geo_encoded_df],axis=1)
data.head()

   CreditScore  Gender  ...  Geography_Germany  Geography_Spain
0          619       0  ...                0.0              0.0
1          608       0  ...                0.0              1.0
2          502       0  ...                0.0              0.0
3          699       0  ...                0.0              0.0
4          850       0  ...                0.0              1.0

[5 rows x 13 columns]

In [10]:
## Split the data into features and target
X=data.drop('EstimatedSalary',axis=1)
y=data['EstimatedSalary']

In [12]:
## Split the data in training and testing sets
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [13]:
## Scale these features
scaler=StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

In [30]:
## Save the encoder and scaler for later use
with open('label_encoder_gender.pkl','wb') as file:
    pickle.dump(label_encoder_gender,file)

with open('onehot_encoder_geo.pkl','wb') as file:
    pickle.dump(onehot_encoder_geo,file)

with open('scaler.pkl','wb') as file:
    pickle.dump(scaler,file)

## ANN Regression Problem Statement

In [15]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [16]:
## Build the model
model=Sequential([
    Dense(64,activation='relu',input_shape=(X_train.shape[1],)),
    Dense(32, activation='relu'),
    Dense(1) # Output layer for regression
])

c:\Users\Medycha Emhandyksa\Documents\ANN_Udemy\venv\Lib\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [18]:
## Compile the model
model.compile(optimizer='adam',loss='mean_absolute_error',metrics=['mae'])

In [19]:
model.summary()

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense (Dense)                   │ (None, 64)             │           832 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_1 (Dense)                 │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_2 (Dense)                 │ (None, 1)              │            33 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 2,945 (11.50 KB)

 Trainable params: 2,945 (11.50 KB)

 Non-trainable params: 0 (0.00 B)

In [20]:
## Training the model

from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import datetime

# set up tensorboard
log_dir = "regressionlogs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorboard_callback = TensorBoard(log_dir=log_dir,histogram_freq=1)

In [21]:
# Set up Early Stopping
early_stopping_callback=EarlyStopping(monitor='val_loss',patience=10,restore_best_weights=True)

In [22]:
# Train the model
history=model.fit(
    X_train,y_train,
    validation_data=(X_test,y_test),
    epochs=100,
    callbacks=[early_stopping_callback,tensorboard_callback]
)

Epoch 1/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 4s 6ms/step - loss: 100862.9062 - mae: 100862.9062 - val_loss: 98484.6484 - val_mae: 98484.6484
Epoch 2/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 100159.0625 - mae: 100159.0625 - val_loss: 96823.1406 - val_mae: 96823.1406
Epoch 3/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 97295.7266 - mae: 97295.7266 - val_loss: 92645.6172 - val_mae: 92645.6172
Epoch 4/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 92340.0312 - mae: 92340.0312 - val_loss: 85778.7188 - val_mae: 85778.7188
Epoch 5/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 6ms/step - loss: 85262.1641 - mae: 85262.1641 - val_loss: 76961.7500 - val_mae: 76961.7500
Epoch 6/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 6ms/step - loss: 76753.9766 - mae: 76753.9766 - val_loss: 68057.7422 - val_mae: 68057.7422
Epoch 7/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 6ms/step - loss: 67157.5156 - mae: 67157.5156 - val_loss: 60439.5625 - val_mae: 60439.5625
Epoch 8/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 59897.3867 - mae: 59897.3867 - val_loss: 55162.4453 - val_mae: 55162.4453
Epoch 9/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 6ms/step - loss: 54922.5039 - mae: 54922.5039 - val_loss: 52256.3438 - val_mae: 52256.3438
Epoch 10/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 6ms/step - loss: 52205.9102 - mae: 52205.9102 - val_loss: 51004.2188 - val_mae: 51004.2188
Epoch 11/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 6ms/step - loss: 50592.8789 - mae: 50592.8789 - val_loss: 50635.9141 - val_mae: 50635.9141
Epoch 12/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 6ms/step - loss: 50304.4844 - mae: 50304.4844 - val_loss: 50512.4688 - val_mae: 50512.4688
Epoch 13/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 6ms/step - loss: 50469.6992 - mae: 50469.6992 - val_loss: 50463.1719 - val_mae: 50463.1719
Epoch 14/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 50635.7422 - mae: 50635.7422 - val_loss: 50425.0430 - val_mae: 50425.0430
Epoch 15/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49875.6328 - mae: 49875.6328 - val_loss: 50396.0898 - val_mae: 50396.0898
Epoch 16/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 50622.6289 - mae: 50622.6289 - val_loss: 50361.3281 - val_mae: 50361.3281
Epoch 17/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 6ms/step - loss: 50011.2227 - mae: 50011.2227 - val_loss: 50342.7461 - val_mae: 50342.7461
Epoch 18/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 50105.9180 - mae: 50105.9180 - val_loss: 50332.4766 - val_mae: 50332.4766
Epoch 19/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49831.6406 - mae: 49831.6406 - val_loss: 50323.5898 - val_mae: 50323.5898
Epoch 20/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 49808.7188 - mae: 49808.7188 - val_loss: 50309.7930 - val_mae: 50309.7930
Epoch 21/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 50137.3008 - mae: 50137.3008 - val_loss: 50284.2227 - val_mae: 50284.2227
Epoch 22/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 6ms/step - loss: 49685.9414 - mae: 49685.9414 - val_loss: 50280.5430 - val_mae: 50280.5430
Epoch 23/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 6ms/step - loss: 49955.1055 - mae: 49955.1055 - val_loss: 50267.6875 - val_mae: 50267.6875
Epoch 24/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 49779.6758 - mae: 49779.6758 - val_loss: 50252.9297 - val_mae: 50252.9297
Epoch 25/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49873.2383 - mae: 49873.2383 - val_loss: 50242.1055 - val_mae: 50242.1055
Epoch 26/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 50067.0391 - mae: 50067.0391 - val_loss: 50233.6992 - val_mae: 50233.6992
Epoch 27/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 49486.9648 - mae: 49486.9648 - val_loss: 50225.9805 - val_mae: 50225.9805
Epoch 28/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49545.2305 - mae: 49545.2305 - val_loss: 50223.2266 - val_mae: 50223.2266
Epoch 29/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 6ms/step - loss: 49456.5664 - mae: 49456.5664 - val_loss: 50217.5391 - val_mae: 50217.5391
Epoch 30/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 49877.5586 - mae: 49877.5586 - val_loss: 50209.7266 - val_mae: 50209.7266
Epoch 31/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 5ms/step - loss: 49759.1250 - mae: 49759.1250 - val_loss: 50207.9297 - val_mae: 50207.9297
Epoch 32/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 6ms/step - loss: 49494.5508 - mae: 49494.5508 - val_loss: 50207.3281 - val_mae: 50207.3281
Epoch 33/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49621.5586 - mae: 49621.5586 - val_loss: 50193.4883 - val_mae: 50193.4883
Epoch 34/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 6ms/step - loss: 49932.2578 - mae: 49932.2578 - val_loss: 50199.2617 - val_mae: 50199.2617
Epoch 35/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 6ms/step - loss: 49386.3477 - mae: 49386.3477 - val_loss: 50197.2617 - val_mae: 50197.2617
Epoch 36/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 5ms/step - loss: 49793.5273 - mae: 49793.5273 - val_loss: 50201.7148 - val_mae: 50201.7148
Epoch 37/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49807.3164 - mae: 49807.3164 - val_loss: 50212.1875 - val_mae: 50212.1875
Epoch 38/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 5ms/step - loss: 49528.5703 - mae: 49528.5703 - val_loss: 50204.1016 - val_mae: 50204.1016
Epoch 39/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 6ms/step - loss: 49828.4141 - mae: 49828.4141 - val_loss: 50210.7305 - val_mae: 50210.7305
Epoch 40/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 50153.9570 - mae: 50153.9570 - val_loss: 50214.8281 - val_mae: 50214.8281
Epoch 41/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 49434.4609 - mae: 49434.4609 - val_loss: 50219.8945 - val_mae: 50219.8945
Epoch 42/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 49641.1914 - mae: 49641.1914 - val_loss: 50218.2344 - val_mae: 50218.2344
Epoch 43/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49356.3125 - mae: 49356.3125 - val_loss: 50221.0781 - val_mae: 50221.0781

In [23]:
%load_ext tensorboard

In [26]:
%tensorboard --logdir regressionlogs/fit

Reusing TensorBoard on port 6006 (pid 12864), started 0:00:10 ago. (Use '!kill 12864' to kill it.)

In [27]:
## Evaluate model on the test data
test_loss,test_mae=model.evaluate(X_test,y_test)
print(f'Test MAE : {test_mae}')

63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 51090.2969 - mae: 51090.2969
Test MAE : 50193.48828125

In [29]:
model.save('regression_model.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.